<div [formGroup]="parentFormGroup">
  <mat-form-field *ngIf="dataSource.controlType === 'input'">
    <mat-label>{{ dataSource.label }}</mat-label>
    <input
      matInput
      placeholder="{{ dataSource.label }}"
      [formControlName]="dataSource.key"
      [type]="dataSource.type"
    />
    <mat-error *ngIf="!control.valid && control.touched"
      >{{ dataSource.label }} is not valid!</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="dataSource.controlType === 'select'">
    <mat-label>{{ dataSource.label }}</mat-label>
    <mat-select
      placeholder="{{ dataSource.label }}"
      [formControlName]="dataSource.key"
    >
      <mat-option selected="true">
        Please select {{ dataSource.whatToSelect }}</mat-option
      >
      <mat-option
        *ngFor="let selectOption of dataSource.selectOptions"
        [value]="selectOption.value"
        >{{ selectOption.value }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="!control.valid && control.touched"
      >{{ dataSource.label }} is not valid!</mat-error
    >
  </mat-form-field>
</div>
