<table mat-table [dataSource]="dataOnPage$" class="mat-elevation-z8 data-table">
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef>Lastname</th>
    <td mat-cell *matCellDef="let row">{{ row.lastname }}</td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef>Firstname</th>
    <td mat-cell *matCellDef="let row">{{ row.firstname }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let row">{{ row.email }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns$.value"></tr>
  <tr
    mat-row
    (click)="handleTableRowClicked(row)"
    *matRowDef="let row; columns: displayedColumns$.value"
  ></tr>
</table>

<mat-paginator
  [length]="tableDataSource$.value.length"
  [pageSize]="pageSize$.value"
  (page)="changePage($event)"
>
  >
</mat-paginator>
