<div class="container">
  <ahr-dynamic-form
    [formTemplate]="formViewTemplate"
    [formModel]="userEditForm"
  >
  </ahr-dynamic-form>
  <button type="button" (click)="onSave()">Save</button>

  <!-- <form [formGroup]="userEditForm">
    <div formGroupName="personalInfo" class="form-group">
      <h2 class="form-group-title">Personal Information</h2>

      <div class="form-group-content">
        <mat-form-field>
          <mat-label>Firstname</mat-label>
          <input matInput placeholder="Firstname" formControlName="firstname" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Lastname</mat-label>
          <input matInput placeholder="Lastname" formControlName="lastname" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail" formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div formGroupName="companyRoleInfo" class="form-group">
      <h2 class="form-group-title">Company Role Information</h2>
      <div class="form-group-content">
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select placeholder="Department" formControlName="department">
            <mat-option
              *ngFor="let department of formPicklistData.departmentsValues"
              value="{{ department }}"
              >{{ department }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Company Role Level</mat-label>
          <mat-select placeholder="Company Role Level" formControlName="level">
            <mat-option
              *ngFor="let companyLevel of formPicklistData.companyLevels"
              value="{{ companyLevel }}"
              >{{ companyLevel }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div formGroupName="platformInfo" class="form-group">
      <h2 class="form-group-title">Platform Related Information</h2>
      <div class="form-group-content">
        <mat-form-field>
          <mat-label>Platform Role</mat-label>
          <mat-select placeholder="Platform Role" formControlName="role">
            <mat-option
              *ngFor="let platformRole of formPicklistData.platformRoleValues"
              value="{{ platformRole }}"
              >{{ platformRole }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form> -->
</div>
