@import "variables.scss";

.chip-wrapper.new {
  background-color: $info-background;

  & > span {
    color: $white;
  }
}

.chip-wrapper.backlog {
  background-color: $grey-dark;

  & > span {
    color: $white;
  }
}

.chip-wrapper.in-progress {
  background-color: $secondary-color;
}

.chip-wrapper.pending {
  background-color: $grey-dark;
}

.chip-wrapper.done {
  background-color: $secondary-color-dark;
}

.chip-wrapper > span {
  text-transform: uppercase;
  font-size: 0.65rem;
}
