mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-inline: 32px;
  background-color: var(--primary-color-light);

  h2 {
    font-family: Poppins, "sans-serif";
    font-size: 1rem;
    font-weight: 600;
  }

  .col2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
