<div [formGroup]="parentFormGroupModel">
  <mat-form-field>
    <mat-label>{{ controlConfig["label"] }}</mat-label>

    <mat-select
      placeholder="{{ controlConfig['label'] }}"
      [formControlName]="controlConfig['key']"
      [compareWith]="objectComparisonFunction"
      (selectionChange)="onSelectionChange($event)"
    >
      <mat-option selected="true">
        Please select {{ controlConfig["whatToSelect"] }}</mat-option
      >
      <mat-option
        *ngFor="let selectOption of selectOptions$ | async"
        [value]="selectOption.value"
      >
        {{ selectOption.textContext }}
      </mat-option>
    </mat-select>

    <!-- <mat-error *ngIf="!control.valid && control.touched"
    >{{ dataSource.label }} is not valid!</mat-error
  > -->
  </mat-form-field>
  <!-- To hold the option description the option item 
    must be an object that has a field name "description" -->
  <div
    *ngIf="controlConfig['showOptionDescription'] && optionDescription !== null"
    class="option-inline-definition"
  >
    <span class="opt-inline-description"
      ><strong>Description: </strong>{{ optionDescription }}</span
    >
  </div>
</div>
