<div [formGroup]="parentFormGroupModel">
  <mat-form-field>
    <mat-label>{{ controlConfig["label"] }}</mat-label>

    <mat-select
      placeholder="{{ controlConfig['label'] }}"
      [formControlName]="controlConfig['key']"
    >
      <mat-option selected="true">
        Please select {{ controlConfig["whatToSelect"] }}</mat-option
      >
      <mat-option
        *ngFor="let selectOption of selectOptions$ | async"
        [value]="selectOption.value"
        >{{ selectOption.textContext }}</mat-option
      >
    </mat-select>

    <!-- <mat-error *ngIf="!control.valid && control.touched"
    >{{ dataSource.label }} is not valid!</mat-error
  > -->
  </mat-form-field>
</div>
