@import "variables.scss";

.interview-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 850px;
}

.interview-score {
  & > * {
    font-weight: 600;
    font-size: 150%;
  }

  span:nth-child(1) {
    color: $grey;
  }
}
