@import "variables.scss";

.editFormToolbar {
  .editFormWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #e9ebf0;

    .col-1,
    .col-2 {
      display: flex;
      gap: 0.5rem;
    }
  }
}
