<ahr-edit-form-toolbar [disabled]="(formState$ | async) === 'submitted'">
  <ahr-edit-action-button
    left
    [disabled]="
      (detailsFormStatus$ | async) === 'invalid' ||
      (mainFormStatus$ | async) === 'invalid' ||
      (formState$ | async) === 'submitted' ||
      (formState$ | async) === 'idle'
    "
    [action]="'save'"
    (actionEvent)="onSaveButtonClicked()"
  ></ahr-edit-action-button>
  <ahr-edit-action-button
    left
    [action]="'remove'"
    (actionEvent)="onRemoveButtonClicked()"
  ></ahr-edit-action-button>
  <ahr-navigation-action-button
    right
    [action]="'goback'"
  ></ahr-navigation-action-button>
</ahr-edit-form-toolbar>
<div class="container-form">
  <div class="form-header" *ngIf="currentJobId">
    <span><strong>Job ID:</strong> #{{ currentJobId.id }} </span>
    <span
      ><strong>Created at:</strong>
      {{ currentJobId.createdAt | date: "dd/MM/yyyy HH:mm" }}</span
    >
    <span
      ><strong>Last Update:</strong>
      {{ currentJobId.updatedAt | date: "dd/MM/yyyy HH:mm" }}</span
    >
  </div>
  <!-- <app-jobid-edit-form
    [showSpinner]="(formState$ | async) === 'submitted'"
    (valueChanges)="onValueChanges($event)"
    (statusChanges)="onStatusChanges($event)"
  ></app-jobid-edit-form> -->
  <div class="wrapper-form">
    <ahr-jobid-edit-form-main
      [currentJobId]="currentJobId"
      [entityState]="entityState"
      [showSpinner]="(formState$ | async) === 'submitted'"
      (formStateChanges)="onFormMainFormStateChanges($event)"
      (valueChanges)="onFormMainValueChanges($event)"
      (statusChanges)="onFormMainStatusChanges($event)"
    ></ahr-jobid-edit-form-main>

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Details">
        <div class="tab-content-wrapper">
          <ahr-jobid-edit-form-details
            [currentJobId]="currentJobId"
            [entityState]="entityState"
            [showSpinner]="(formState$ | async) === 'submitted'"
            (formStateChanges)="onFormDetailsFormStateChanges($event)"
            (valueChanges)="onFormDetailsValueChanges($event)"
            (statusChanges)="onFormDetailsStatusChanges($event)"
          ></ahr-jobid-edit-form-details>
        </div>
      </mat-tab>
      <mat-tab label="Applications">
        <div class="tab-content-wrapper">
          <h3>Applications</h3>
          <ahr-jobid-applications
            [jobId]="currentJobId"
          ></ahr-jobid-applications>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
