<div class="container-section">
  <div class="settings-section">
    <div class="settings-list">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Job Roles</mat-card-title>
          <!-- <mat-card-subtitle>Small</mat-card-subtitle> -->
          <ahr-icon
            [icon]="'delete'"
            [label]="'Configure Job Roles'"
          ></ahr-icon>
        </mat-card-title-group>
        <!-- <mat-card-content>
    {{ longText }}
  </mat-card-content> -->
      </mat-card>
    </div>

    <div class="settings-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
