<ahr-edit-form-toolbar [disabled]="(formState$ | async) === 'submitted'">
  <ahr-edit-action-button
    left
    [disabled]="
      (formState$ | async) === 'idle' ||
      (formState$ | async) === 'submitted' ||
      (formStatus$ | async) === 'invalid'
    "
    [action]="'save'"
    (actionEvent)="onSaveButtonClicked()"
  ></ahr-edit-action-button>
  <ahr-edit-action-button
    left
    [action]="'remove'"
    (actionEvent)="onRemoveButtonClicked()"
  ></ahr-edit-action-button>
  <ahr-navigation-action-button
    right
    [action]="'goback'"
  ></ahr-navigation-action-button>
</ahr-edit-form-toolbar>
<div class="container-form">
  <div class="form-header" *ngIf="currentRequest">
    <span><strong>Request ID:</strong> #{{ currentRequest.id }} </span>
    <span
      ><strong>Created at:</strong>
      {{ currentRequest.createdAt | date: "dd/MM/yyyy HH:mm" }}</span
    >
    <span
      ><strong>Last Update:</strong>
      {{ currentRequest.updatedAt | date: "dd/MM/yyyy HH:mm" }}</span
    >
  </div>
  <ahr-request-to-hire-edit-form
    [showSpinner]="(formState$ | async) === 'submitted'"
    (valueChanges)="onValueChanges($event)"
    (statusChanges)="onStatusChanges($event)"
  ></ahr-request-to-hire-edit-form>
</div>
