.sidenav {
  width: 250px;
  background-color: var(--primary-color);
  border: none;

  .sidenav-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 1rem;

    .sidenav-menu {
      margin-top: 2rem;

      span {
        color: var(--tertiary-color);
        font-weight: 600;
      }

      hr {
        color: var(--tertiary-color);
        opacity: 0.2;
      }
    }
  }
}
