<app-header></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item href="#">Jobs Board</a>
      <a mat-list-item href="#">Requests to Hire</a>
      <a mat-list-item href="#">Candidates</a>
      <a mat-list-item routerLink="users/list" routerLinkActive="active"
        >Users</a
      >
      <a mat-list-item href="#">Tables</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
