<mat-nav-list>
  <ahr-nav-list-item
    [title]="'Dashboard'"
    [route]="'dashboard/list'"
    [icon]="'dashboard'"
  ></ahr-nav-list-item>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-label="dashboard">dashboard</mat-icon>
          <span>Job Board</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ahr-nav-list-item
        [title]="'Jobs ID'"
        [route]="'job-board/jobid/list'"
        [icon]="'developer_board'"
      ></ahr-nav-list-item>

      <ahr-nav-list-item
        [title]="'Applications'"
        [route]="'job-board/applications/list'"
        [icon]="'developer_board'"
      ></ahr-nav-list-item>

      <ahr-nav-list-item
        [title]="'Interviews'"
        [route]="'job-board/interviews/list'"
        [icon]="'developer_board'"
      ></ahr-nav-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <ahr-nav-list-item
    [title]="'Request to Hire'"
    [route]="'request-to-hire/list'"
    [icon]="'chat_bubble_outline'"
  ></ahr-nav-list-item>

  <ahr-nav-list-item
    [title]="'Candidates'"
    [route]="'candidates/list'"
    [icon]="'supervised_user_circle'"
  ></ahr-nav-list-item>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-label="dashboard">dashboard</mat-icon>
          <span>Administration</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ahr-nav-list-item
        [title]="'Users'"
        [route]="'users/list'"
        [icon]="'person'"
      ></ahr-nav-list-item>

      <ahr-nav-list-item
        [title]="'Settings'"
        [route]="'settings'"
        [icon]="'table_chart'"
      ></ahr-nav-list-item>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
