<mat-nav-list>
  <ahr-nav-list-item
    [title]="'Dashboard'"
    [route]="'dashboard/list'"
    [icon]="'dashboard'"
  ></ahr-nav-list-item>

  <ahr-nav-list-item
    [title]="'Job Board'"
    [route]="'#'"
    [icon]="'developer_board'"
  ></ahr-nav-list-item>

  <ahr-nav-list-item
    [title]="'Request to Hire'"
    [route]="'#'"
    [icon]="'chat_bubble_outline'"
  ></ahr-nav-list-item>

  <ahr-nav-list-item
    [title]="'Candidates'"
    [route]="'#'"
    [icon]="'supervised_user_circle'"
  ></ahr-nav-list-item>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-label="dashboard">dashboard</mat-icon>
          <span>Administration</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ahr-nav-list-item
        [title]="'Users'"
        [route]="'users/list'"
        [icon]="'person'"
      ></ahr-nav-list-item>

      <ahr-nav-list-item
        [title]="'Tables'"
        [route]="'#'"
        [icon]="'table_chart'"
      ></ahr-nav-list-item>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
