<ahr-edit-form-toolbar [disabled]="(formState$ | async) === 'submitted'">
  <ahr-edit-action-button
    left
    [disabled]="
      (formState$ | async) === 'idle' ||
      (formState$ | async) === 'submitted' ||
      (formStatus$ | async) === 'invalid'
    "
    [action]="'save'"
    (actionEvent)="onSaveButtonClicked()"
  ></ahr-edit-action-button>
  <ahr-edit-action-button
    left
    [action]="'disable'"
    (actionEvent)="onDisableButtonClicked()"
  ></ahr-edit-action-button>
  <ahr-navigation-action-button
    right
    [action]="'goback'"
  ></ahr-navigation-action-button>
</ahr-edit-form-toolbar>
<div class="container-form">
  <ahr-candidate-contact-form
    [currentCandidate]="currentCandidate"
    [entityState]="entityState"
    [showSpinner]="(formState$ | async) === 'submitted'"
    (valueChanges)="onValueChanges($event)"
    (statusChanges)="onStatusChanges($event)"
  ></ahr-candidate-contact-form>
</div>
