<ahr-edit-form-toolbar [disabled]="(formState$ | async) === 'submitted'">
  <ahr-edit-action-button
    left
    [action]="'save'"
    [disabled]="
      (formStatus$ | async) === 'invalid' ||
      (formState$ | async) === 'submitted' ||
      (formState$ | async) === 'idle'
    "
    (actionEvent)="onSaveButtonClicked()"
  ></ahr-edit-action-button>

  <ahr-navigation-action-button
    right
    [action]="'goback'"
  ></ahr-navigation-action-button>
</ahr-edit-form-toolbar>
<div class="container-form">
  <div class="form-header" *ngIf="currentInterview$ | async">
    <span
      ><strong>Interview ID:</strong> #{{ (currentInterview$ | async)?.id }}
    </span>
    <span
      ><strong>Created at:</strong>
      {{
        (currentInterview$ | async)?.createdAt | date: "dd/MM/yyyy HH:mm"
      }}</span
    >
    <span
      ><strong>Last Update:</strong>
      {{
        (currentInterview$ | async)?.updatedAt | date: "dd/MM/yyyy HH:mm"
      }}</span
    >
  </div>
  <div class="wrapper-form">
    <div class="wrapper-form-header">
      <div class="interview-form">
        <ahr-interview-status-form
          [currentInterview]="currentInterview$ | async"
          [entityState]="entityState$ | async"
          [showSpinner]="(formState$ | async) === 'submitted'"
          (formStateChanges)="onStateChanges($event)"
          (valueChanges)="onValueChanges($event)"
          (statusChanges)="onStatusChanges($event)"
        ></ahr-interview-status-form>
      </div>

      <div class="candidate-info">candidate info</div>

      <div class="jobid-info">
        <div class="row">
          <div class="job-role">
            <span>Role:</span>
            <span>{{
              (currentInterview$ | async)!["jobApplication"]["jobId"][
                "jobRole"
              ]["name"]
            }}</span>
          </div>
          <div class="job-role-level">
            <span>Level:</span>
            <span>{{
              (currentInterview$ | async)!["jobApplication"]["jobId"][
                "roleLevel"
              ]["value"]
            }}</span>
          </div>
          <div class="branches">
            <span>Branch Office:</span>
            <span>{{
              (currentInterview$ | async)!["jobApplication"]["jobId"][
                "jobLocation"
              ]["name"]
            }}</span>
          </div>
        </div>
        <div class="row">
          <div class="budget">
            <span>Budget:</span>
            <span>{{
              (currentInterview$ | async)!["jobApplication"]["jobId"][
                "requestToHire"
              ]["budget"]
            }}</span>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <ahr-interview-rounds></ahr-interview-rounds>
  </div>
</div>
