@import "variables.scss";

.form-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tab-content-wrapper {
  padding: 1.5rem 0;
  min-height: 50vh;

  & .container-list {
    margin: 0;
  }
}

h3 {
  font-weight: 500;
}

.wrapper-form-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .jobid-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid $grey;
    border-radius: 5px;
    min-width: 300px;

    .row {
      & > * {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

        span:first-child {
          color: $grey;
        }
      }
    }
  }
}

mat-divider {
  margin-block: 2rem;
}
