@import "variables.scss";

$border-radius: 10px;
$space-between-columns: 10px;
$space-between-rows: 0 5px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table {
  border-collapse: separate;

  background-color: transparent;
  font-family: Poppins, "san-serif";

  &.mat-table {
    border-spacing: $space-between-rows;
  }
}

th.mat-header-cell {
  border: none;
  color: $primary-color;
  font-weight: 600;
  padding-right: $space-between-columns;
}

.mat-row {
  background-color: $white;
  cursor: pointer;
  height: 65px;

  td {
    padding-right: $space-between-columns;
  }

  td:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  td:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  td.mat-cell {
    border: none;
  }

  &:hover {
    background-color: $secondary-color;
    transition: all 150ms ease-in;
  }

  .mat-cell {
    font-size: 0.85rem;
  }
}

.mat-paginator {
  background: transparent;
}
