@import "variables.scss";

$border-radius: 10px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  background-color: transparent;
  font-family: Poppins, "san-serif";

  &.mat-table {
    border-spacing: 0 5px;
  }
}

th.mat-header-cell {
  border: none;
  color: $primary-color;
  font-weight: 600;
}

.mat-row {
  background-color: $white;
  cursor: pointer;
  height: 65px;

  td:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  td:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  td.mat-cell {
    border: none;
  }

  &:hover {
    background-color: $secondary-color;
    transition: all 150ms ease-in;
  }

  .mat-cell {
    font-size: 0.85rem;
  }
}

.mat-paginator {
  background: transparent;
}
