@import "variables.scss";

$button-border-radius: 5px;

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  padding-block: 0.25rem;
  border-radius: $button-border-radius;
  width: 45px;
  min-height: 50px;
  border: 1px solid $grey-light;

  button {
    color: $grey-dark;
    height: 24px;
    width: 24px;
    line-height: 24px;
  }

  span.button-label {
    font-size: 0.5rem;
    font-weight: 500;
    color: $grey-dark;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }

  &:hover {
    background-color: $primary-color-light;

    button {
      color: $white;
    }

    span.button-label {
      color: $white;
    }
  }
}

.button-wrapper[aria-disabled="true"] {
  cursor: inherit;
  opacity: 0.5;

  &:hover {
    background-color: transparent;

    button {
      color: $grey-dark;
    }

    span.button-label {
      color: $grey-dark;
    }
  }
}
