<div class="question-item">
  <div class="question-data">
    <p>{{ question.question }}</p>
  </div>
  <!-- 
  <div class="question-actions">
    <button
      mat-mini-fab
      color="primary"
      aria-label="Accept answer"
      (click)="acceptAnswer(question.id)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      aria-label="Decline answer"
      (click)="rejectAnswer(question.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div> -->
</div>
