@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

:root {
  --primary-color: #673ab7;
  --secondary-color: #8ab73a;
  --tertiary-color: #c3dd94;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

input,
select,
textarea {
  font-family: Poppins, "sans-serif";
  font-size: 1rem;
}

mat-form-field {
  font-family: Poppins, "sans-serif";
}
