$primary-color: #8b7ea3;
$primary-color-light: #bbadd4;
$primary-color-dark: #5d5274;
$secondary-color: #fff9c4;
$secondary-color-light: #fffff7;
$secondary-color-dark: #cbc693;

$grey: #bdbdbd;
$grey-light: #efefef;
$grey-dark: #8d8d8d;
$white: #fff;

$error-background: #d32f2f;
$error-text-color: #fff;
$warning-background: #ef6c00;
$warning-text-color: #fff;
$info-background: #00838f;
$info-text-color: #fff;
