@import "variables.scss";

.jobid-badge {
  .details {
    display: flex;
    flex-direction: column;
    line-height: 1.3;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
    }

    .job-role,
    .job-role-level,
    .requester {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;

      span {
        font-size: 75%;
      }

      span:first-child {
        color: $grey;
      }
    }
  }
}
